body{
    margin: 0;
    padding: 0;
    background: #8acaf5;
}

.body-result {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.result-box{
    position: absolute;
    background-color: #FFFFFF;
    top: 20%;
    left: 5%;
    height: 40px;
    width: 580px;
    border: 1px solid #D0D3D4;;
    border-radius: 40px;
    padding: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2), 0px 2px 4px 0px rgba(0,0,0,0.14), 0px 2px 4px 0px rgba(0,0,0,0.12);
}

.search-box:hover > .search-btn{
    background: white;

    
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;

}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 116px;

}

.navbar-custom {
    background-color: #e5e5e5;
    border-bottom: 1px solid #D0D3D4;
    padding-bottom: 70px;
}

.result-search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 18px;
    width: 500px;
}
.search-btn{
    color: #3498db;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    
}

.result-search-btn{
    color: #3498db;
    float: right;
    width: 39px;
    height: 38px;
    border-radius: 40px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-right: -10px;
}

.result-body {
    margin-top: 20px;
}

.result {
    border-right: 1px solid #D0D3D4;
    padding-bottom: 5%;
}

.result-detail {
    padding-bottom: 60%;
}

#list-result {
    margin-left: 10%;
}

#title-result a {
    font-weight: bold;
    color: rgb(26, 13, 171);
    font-size: 20px !important;
    line-height: 26px;
}

#detail-title {
    font-weight: bold;
    color: rgb(26, 13, 171);
    font-size: 20px !important;
    line-height: 26px;
}

.url-result a {
    font-size: 14px;
    color: #006621;
}

.content-result {
    margin-top: 5px;
    color: #545454;
    line-height: 22px;
    word-wrap: break-word;
    font-size: 14px;
    font-family: arial,sans-serif;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

#detail-content {
    margin-top: 5px;
    color: #545454;
    line-height: 22px;
    word-wrap: break-word;
    font-size: 14px;
    font-family: arial,sans-serif;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.navigation {
    padding-bottom: 15px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 1%;
}

.navigation a {
    font-weight: 400;
    padding: 0 10px;
    line-height: 35px;
}

.navigation::selection {
    background: #05C;
    color: #fff;
    text-shadow: none;
}

#info-result {
    margin-left: 6%;
    margin-top: 6%;
    color: #545454;
    font-family: arial,sans-serif;
    font-size: 14px;
}

.pagination {
    display: inline-block;
  }
  
  .pagination a {
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}