body{
    margin: 0;
    padding: 0;
    background: #8acaf5;
}

.body-result {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.result-box{
    position: absolute;
    background-color: #FFFFFF;
    top: 4%;
    left: 4%;
    height: 40px;
    width: 600px;
    border: 1px solid #D0D3D4;;
    border-radius: 40px;
    padding: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2), 0px 2px 4px 0px rgba(0,0,0,0.14), 0px 2px 4px 0px rgba(0,0,0,0.12);
}

.search-box:hover > .search-btn{
    background: white;

    
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;

}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 116px;

}

.header {
    background-color: #e5e5e5;
    border-bottom: 1px solid #D0D3D4;
    padding-bottom: 80px;
}

.result-search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 18px;
    width: 350px;
}
.search-btn{
    color: #3498db;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    
}

.result-search-btn{
    color: #3498db;
    float: right;
    width: 39px;
    height: 38px;
    border-radius: 40px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-right: -10px;
}

.result-body {
    margin-top: 20px;
}

.result {
    border-right: 1px solid #D0D3D4;
    padding-bottom: 100%;
}

.list-result {
    margin-left: 10%;
}

.title-result a {
    font-weight: bold;
    font-size: 20px;
    color: rgb(26, 13, 171);
}

.url-result a {
    font-size: 14px;
    color: #006621;
}

.content-result {
    line-height: 1.57;
    word-wrap: break-word;
    font-size: 14px;
    color: #545454;
    font-family: arial,sans-serif;
    text-align: left;
}

.detail {
    font-size: 14px;
}

.info-result {
    margin-left: 6%;
    margin-top: 2px;
    color: #545454;
    font-family: arial,sans-serif;
    font-size: 14px;
}