body{
    margin: 0;
    padding: 0;
    background: #8acaf5;
}

.body-result {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.result-box{
    margin-left: 4%;
    position: absolute;
    background-color: #FFFFFF;
    top: 20%;
    left: 5%;
    height: 40px;
    width: 600px;
    border: 1px solid #D0D3D4;;
    padding: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2), 0px 2px 4px 0px rgba(0,0,0,0.14), 0px 2px 4px 0px rgba(0,0,0,0.12);
}

.search-box:hover > .search-btn{
    background: white;

    
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;

}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 116px;

}

.navbar-custom {
    background-color: #e5e5e5;
    border-bottom: 1px solid #D0D3D4;
    padding-bottom: 30px;
}

.result-search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 18px;
    width: 500px;
    margin-left: 10px;
}
.search-btn{
    color: #3498db;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    
}

.result-search-btn{
    color: #3498db;
    float: left;
    border: 0px !important;
    width: 39px;
    height: 38px;
    border-radius: 40px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: 10px;
}

.result-type-search-btn{
    color: #3498db;
    float: left;
    width: 39px;
    height: 38px;
    border-radius: 40px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
}

.ul-type-search {
    margin-left: -10px;
    margin-top: 27px;
    width: 600px;
}

.result-body {
    margin-top: 20px;
}

.result {
    border-right: 1px solid #D0D3D4;
    padding-bottom: 5%;
}

.result-detail {
    padding-bottom: 37%;
}

#list-result {
    margin-left: 10%;
}

#title-result a {
    font-weight: bold;
    color: rgb(26, 13, 171);
    font-size: 20px !important;
    line-height: 26px;
}

#detail-title {
    font-weight: bold;
    color: rgb(26, 13, 171);
    font-size: 20px !important;
    line-height: 26px;
}

.url-result a {
    font-size: 14px;
    color: #006621;
}

.content-result {
    margin-top: 5px;
    color: #545454;
    line-height: 22px;
    word-wrap: break-word;
    font-size: 14px;
    font-family: arial,sans-serif;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

#detail-content {
    margin-top: 5px;
    color: #545454;
    line-height: 22px;
    word-wrap: break-word;
    font-size: 14px;
    font-family: arial,sans-serif;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.navigation {
    padding-bottom: 15px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 1%;
    margin-left: 30%;
}

.navigation a {
    font-weight: 400;
    padding: 0 10px;
    line-height: 35px;
}


#info-result {
    margin-left: 10%;
    margin-top: 3%;
    color: #545454;
    font-family: arial,sans-serif;
    font-size: 14px;
}

.info-search {
    margin-right: 10%;
    margin-bottom: 5%;
}

.pagination {
    display: inline-block;
  }

.pagination a {
    color: black !important;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a {
    color: black !important;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .a-pagination {
    color: black !important;
      
  }

.pagination a:hover:not(.active) {background-color: #ddd;}
.positionBottom {
  
  position:fixed;
}
.logo {
  margin-top: 3%;
  margin-left: 3%;
  height: 30%;
  width: 18%;
}

.scrollbar
{
    margin-left: 10px;
    margin-right: 10%;
	float: left;
	height: 700px;
	width: 100%;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.type-search {
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.force-overflow
{
	min-height: 450px;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}

#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(255,140,0)),
									   color-stop(0.72, rgb(255,165,0)),
									   color-stop(0.86, rgb(255,215,0)));
}

.list-info {
    margin-left: 6%;
}

.head-result p {
    font-weight: bold;
    color: #006621;
    font-size: 15px !important;
    line-height: 26px;
}

.head-result {
    margin-bottom: -15px;
}

#live-search {
    margin-top: 27px;
    margin-left: -2%;
    position: absolute;
    width: 100%;
    max-width:870px;
    cursor: pointer;
    overflow-y: auto;
    max-height: 400px;
    box-sizing: border-box;
    z-index: 1001;
   }
   .link-class:hover{
    background-color:#f1f1f1;
   }